div.main-container{
    max-width: 1000px;
    margin: 0 auto;
    /* margin-left: 200px; */
    background-color: white;
    padding: 0 250px;
    box-sizing: border-box; 
}
#my_header {
    position: relative;    
}

.headimg{
    padding-top: 62px;
    padding-left: 70px;
    width: 600px;
    border: none;
}

#my_header > #header-menu {
    padding-top: 39px;
    width: 580px;
    position: absolute;
    left : 140px;
    display: inline-block;

}

#header-menu>ul {
    overflow: hidden;
}

#header-menu>ul>li{
    float: left;
    list-style: none;
    text-align: center;
}


#header-menu>ul>li>a#nonsee {
    display: block;
    color: #929ba1;
    line-height: 20px;
    padding: 10px 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    border: none;
    margin-left: 10px;
}
#header-menu>ul>li>a#see {
    display: block;
    color: black;
    line-height: 20px;
    padding: 10px 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    border: none;
    margin-left: 10px;
}

.timeline {
    list-style-type: none;
    margin-top: 100px;
    margin-left: auto;
    padding: 0;
    position: relative
}

.timeline:before {
    content: '';
    position: absolute;
    top: 50px;
    bottom: -20px;
    width: 5px;
    background: #2d353c;
    left: 100px;
    margin-left: -2.5px
}

.timeline>li {
    position: relative;
    min-height: 50px;
    padding: 20px 0
}

.timeline .timeline-time {
    position: absolute;
    left: 0;
    text-align: right;
    top: 30px
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
    display: block;
    font-weight: 600
}

.timeline .timeline-time .date {
    line-height: 16px;
    font-size: 12px
}

.timeline .timeline-time .time {
    line-height: 24px;
    font-size: 20px;
    color: #242a30
}

.timeline .timeline-icon {
    left: 75px;
    position: absolute;
    width: 48px;
    text-align: center;
    top: 40px
}

.timeline .timeline-icon a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background: rgb(196, 196, 196);
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #2d353c;
    transition: border-color .2s linear
}

.timeline .timeline-body {
    width: 480px;
    margin-left: 130px;
    margin-right: 17%;
    background: rgba(196, 196, 196, 0.37);
    position: relative;
    padding: 20px 25px;
    border-radius: 6px
}

.timeline .timeline-body:before {
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: rgba(196, 196, 196, 0.37);
    left: -20px;
    top: 24px;
}

.timeline .timeline-body>div+div {
    margin-top: 15px
}

.timeline .timeline-body>div+div:last-child {
    margin-bottom: -20px;
    padding-bottom: 20px;
    border-radius: 0 0 6px 6px
}

.timeline-header .username {
    font-size: 16px;
    font-weight: 600
}

.timeline-header .username,
.timeline-header .username a {
    color: #2d353c
}
.timeline-content {
    letter-spacing: .3px;
    line-height: 18px;
    font-size: 10pt;
}

p.pcenter{
    text-align: center;
}
.diaryImg{
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}